# Rust
target/
**/*.rs.bk
Cargo.lock

# Node.js
node_modules/
dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.env

# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
ENV/
env/
.env

# General / IDE
.DS_Store
.vscode/
.idea/
